<?xml version="1.0"?>

<launch>

	
	<include file="$(find mavros)/launch/px4.launch"/>

	<!--<node pkg="lakitu" type="state_control.py" name="state_control"/>-->
	<node pkg="lakitu" type="init.py" name="init_node" />-->
	<node pkg="lakitu" type="preflight.py" name="preflight_node" />
	<node pkg="lakitu" type="takeoff.py" name="takeoff_node" />	
	<node pkg="lakitu" type="hover.py" name="hover_node" />


	<!-- <node pkg="lakitu" type="flight_test.py" name="flight_test_node" /> -->

	
	<!-- WARNING: FLIGHT MODE WILL MAKE LAKITU FLY 30 METERS IN RANDOM DIRECTION, DO NOT UNCOMMENT -->
<!-- <node pkg="lakitu" type="flight.py" name="flight_node" /> -->
		
</launch> 	